$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-next: "\e900";
$icon-previous: "\e901";
$icon-instagram: "\e902";
$icon-facebook: "\e903";
$icon-linkedin: "\e904";
$icon-twitter: "\e905";
$icon-mail: "\e906";
$icon-phone: "\e907";
$icon-location: "\e947";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";

